textarea {
    min-height: 400px;
}


.card {
    border: 1px solid #ccc;
    border-radius: 5px;
}


.email-header {
    display: flex;
    justify-content: space-between;
}


.card-body {
    padding: 5px; 
}




  /* .read-email {
    background-color: #f0f0f0;
  }

  .unread-email {
    background-color: #fff;
    font-weight: bold;
  } */