textarea {
    min-height: 400px;
}


.card{
    border: 1px solid #ccc;
    border-radius: 5px;
}


.email-card {
    transition: background-color 0.3s ease; /* Add a smooth transition effect to background-color */
}

.email-card:hover {
    background-color: #f1f1f1; 
    cursor: pointer;
}
.email-header {
    display: flex;
    justify-content: space-between;
}


.card-body {
    padding: 5px; 
}


.read-email {
    background-color: #f0f0f0;
  }

.unread-email {
    background-color: #fff;
    font-weight: bold;
  } 




/* email view */
.card_view {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.email-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.email-subject {
    font-size: 24px;
    margin: 0;
}

.email-details {
    flex-grow: 1;
    text-align: right;
}

.email-sender,
.email-recipient,
.email-timestamp {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.email-body {
    font-size: 16px;
    line-height: 1.5;
}